.img_bio-top {
    position: relative;
    left: 0;
    width: 80%;
    height: 50rem;
    background-image: url("../img/biography/15c5f8b53ebbbf9845e4844824b67818.jpg");
    background-repeat: no-repeat;
    background-position: 65% 10%;
    background-size: cover;
}

.contact-form p {
    color: var(--gray-700)
}

.contact-form input:not([type="submit"]),
.contact-form textarea {
    width: 100%;
    padding: .5rem;
    border: 1px solid var(--gray-200)
}

.contact-form textarea {
    height: 5rem;
}

.contact-form input[type="submit"] {
    padding: .8rem 1.2rem;
    transition: background-color .2s ease-in-out;
    color: white;
    border: none;
    background-color: var(--blue-800);
}

.contact-form input[type="submit"]:hover {
    background-color: var(--blue-900);
}

.img_anx {
    width: auto;
    height: 6rem;
}

.anx_content {
    width: 30%;
    padding-right: 5rem;
}

.anx_images {
    width: 70%;
}

.anx_images li {
    margin: 0 1rem;
}

.anx_content,
.anx_images {
    max-width: 100%;
}

.anx_item {
    line-height: 1.5rem;
    margin: .3rem 1rem 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border-bottom: .12rem solid transparent;
}

.anx_item:hover {
    margin: 0 .5rem -.21rem;
    padding: .3rem .5rem .2rem;
    border-bottom: .13rem solid #003cff;
}

.anx_item_all {
    border-bottom: .12rem solid black;
}


.anx_item_selected {
    color: #003cff;
    border-bottom: .13rem solid #003cff;
}

@media (max-width: 49rem) {
    .contact-form {
        justify-content: space-around;
    }

    .contact-form > *:nth-child(2) {
        order: 3
    }

    .contact-form > *:first-child,
    .contact-form > *:last-child {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media (max-width: 35rem) {
    .contact-form > *:nth-child(2) {
        order: unset
    }
}

@media (max-width: 69rem) {
    .anx_content {
        margin: 0 0 2rem 1rem;
        text-align: left;
    }

    .anx_content,
    .anx_images {
        width: 100%;
    }
}