@import "../fonts/moderat/Moderat.css";

/* Default values */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

/* Containers */
/* Middle container with max width */
.container {
    width: 50rem;
    max-width: 100%;
    margin: 2.2rem auto 0;
    padding: 0 1rem;
}

/* 100% width boxed container with inner padding. */
.box {
    width: 100%;
    margin: 0 auto;
    padding: 0 .5rem;
}

.center-box {
    margin: 0 auto;
}

/* box breaker, gets out of the box with a max 150rem width */
.box-breaker {
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 150rem;
    max-width: 100%;
    height: 45rem;
    margin: 0 auto;
}

.box-breaker:not(.box-breaker__alone, .box-breaker_reverse) > *:first-child {
    width: 58%;
}

.box-breaker:not(.box-breaker__alone, .box-breaker_reverse) > *:last-child {
    max-width: 30rem;
    margin: 0 2rem 0 6rem;
}

.box-breaker_reverse:not(.box-breaker__alone) > *:first-child {
    max-width: 30rem;
    margin: 0 2rem 0 6rem;
}

.box-breaker_reverse:not(.box-breaker__alone) > *:last-child {
    width: 58%;
}

.box-breaker__alone > *:first-child {
    width: 90%;
}

/* Flex containers */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex_middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex_middle-spacing {
    justify-content: center;
    margin: 1rem auto;
}

.flex_middle-spacing > * {
    flex-grow: 1;
    padding: 1rem;
    text-align: center;
}

.flex_middle-spacing svg {
    height: 1.5rem;
}

.flex_middle-spacing p {
    font-size: .8rem;
    line-height: .8rem
}

.flex_out {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex_out > * {
    margin: 1rem;
}

/* Footer styles */

.socials-wrapper {
    border-top: 1px solid #e6e6e6;
}

.foot {
    background-color: #e6e6e6
}

.foot .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (max-width: 15rem) {
    .flex_out {
        justify-content: center;
    }
}

/* Media queries */
@media (max-width: 50rem) {
    .flex_middle-spacing > * {
        flex-grow: 0;
    }
}

@media (max-width: 48.5rem) {
    .flex_middle {
        flex-grow: 1;
    }
}

@media (max-width: 20rem) {
    .flex_middle-spacing > * {
        width: 100%;
    }
}

@media (min-width: 20rem) {
    .flex_middle-spacing > * {
        width: 50%;
    }
}

@media (min-width: 40rem) {
    .flex_middle-spacing > * {
        width: auto;
    }
}

@media (max-width: 52rem) {
    .box-breaker {
        position: static;
        display: block;
        width: 100%;
        height: auto;
        transform: translateX(0);
    }

    .box-breaker:not(.box-breaker__alone, .box-breaker_reverse) > *:first-child {
        width: 100%;
    }

    .box-breaker:not(.box-breaker__alone, .box-breaker_reverse) > *:last-child {
        width: 100%;
        margin: 3rem auto 0;
    }

    .box-breaker_reverse:not(.box-breaker__alone) > *:first-child {
        width: 100%;
        margin: 3rem auto 0;
    }

    .box-breaker_reverse:not(.box-breaker__alone) > *:last-child {
        width: 100%;
        margin-top: 3rem;
    }
}