@import "../fonts/moderat/Moderat.css";

/* Default values */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

/* Containers */
/* Middle container with max width */
.container {
    width: 50rem;
    max-width: 100%;
    margin: 2.2rem auto 0;
    padding: 0 1rem;
}

/* 100% width boxed container with inner padding. */
.box {
    width: 100%;
    margin: 0 auto;
    padding: 0 .5rem;
}

/* box breaker, gets out of the box with a max 150rem width */
.box-breaker {
    left: 50%;
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 150rem;
    max-width: 100%;
    height: 45rem;
    margin: 0 auto;
}

.box-breaker > *:first-child {
    width: 58%;
}

.box-breaker > *:last-child {
    max-width: 30rem;
    margin: 0 2rem 0 6rem;
}

/* Layout keys */

.hide {
    transform: translateY(100%);
    opacity: 0;
}

.sideways {
    transform: rotate(-90deg);
}

.sidebar {
    position: absolute;
    left: -150px;
}

.space-above__6 {
    margin-top: 6rem
}

/* Styles sets */

.panels {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.panels li {
    flex-grow: 1;
    width: 14rem;
    max-width: 100%;
    margin: 1rem;
}

.btn-top {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    transition: all .2s ease-in-out;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
}

.btn-top a {
    position: relative;
    top: 10%;
}

/* Media queries */
@media (max-width: 68rem) {
    .sideways {
        transform: none;
    }

    .panels {
        padding-top: 5rem;
    }

    .sidebar {
        position: absolute;
        top: 0;
        left: unset;
    }
}

@media (max-width: 50rem) {
    .panels li {
        flex-grow: 0;
    }
}

@media (max-width: 52rem) {
    .out-of-box_wrapper {
        height: auto;
    }

    .out-of-box {
        position: static;
        display: block;
        width: 100%;
        height: auto;
        transform: translateX(0);
    }

    .out-of-box > *:first-child {
        width: 100%;
    }

    .out-of-box > *:last-child {
        width: 100%;
        margin: 3rem auto 0;
    }
}