.main-nav {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-nav > * {
    margin: 0 0 .5rem;
}

.main-nav ul {
    list-style: none;
}

.main-nav a {
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-decoration: none;
    color: black;
}

.main-nav a:hover {
    color: #003cff;
}

.main-nav .selected a {
    text-decoration: underline;
    color: #003cff;
}

.main-nav .logo {
    width: 7rem;
    max-width: 100%;
    height: 4.7rem;
    margin: auto 0;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: 50% 70%;
    background-size: contain;
}

.main-nav .logo a {
    font-size: 2rem;
    width: 7rem;
    letter-spacing: .115rem;
    color: transparent;
}

@media (max-width: 40rem) {
    .main-nav {
        justify-content: center;
    }

    .main-nav > * {
        width: 100%;
    }

    .main-nav li {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .main-nav ul {
        margin-top: 2rem;
    }
}