/* Global class styles */
/* Colors */
.blue {
    color: #003cff;
}

/* Settings */
.hide {
    transform: translateY(100%);
    opacity: 0;
}

.sideways {
    transform: rotate(-90deg);
}

.sidebar {
    position: absolute;
    left: -150px;
}

.no-list {
    padding: 0;
    list-style: none;
}

.space__3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.space-above__1-5 {
    margin-top: 1.5rem
}

.space-above__3 {
    margin-top: 3rem
}

.space-above__4-5 {
    margin-top: 4.5rem
}

.space-above__6 {
    margin-top: 6rem
}

.width_40 {
    width: 40rem;
    max-width: 100%;
}


/* Styles sets */
/* Panels */
.panels {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.panels li {
    flex-grow: 1;
    width: 14rem;
    max-width: 100%;
    margin: 1rem;
}

/* Input */
.input-big {
    width: 25rem;
    max-width: 100%;
    height: 3rem;
    padding: 1rem 0 1rem .5rem;
    border: 1px solid rgba(90, 90, 90, 0.50);
    background-color: transparent;
}

.input-big:focus,
.input-big:hover {
    padding-left: calc(.5rem - 1px);
    border: 2px solid #2fbfd3;
    outline: none;
}

/* Buttons */
.btn-top {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
}

.btn-top a {
    position: relative;
    top: 10%;
}