/* Global class styles */
/* Colors */
.color_blue {
    color: var(--blue-800);
}

.color_gray {
    color: var(--gray-500);
}

/* Settings */
.hide {
    transform: translateY(100%);
    opacity: 0;
}

.sideways {
    transform: rotate(-90deg);
}

.sidebar {
    position: absolute;
    left: -150px;
}

.no-list {
    padding: 0;
    list-style: none;
}

.space__3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.space__6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.space-above__0-5 {
    margin-top: .5rem
}

.space-above__1 {
    margin-top: 1rem
}

.space-above__1-5 {
    margin-top: 1.5rem
}

.space-above__3 {
    margin-top: 3rem
}

.space-above__4-5 {
    margin-top: 4.5rem
}

.space-above__6 {
    margin-top: 6rem
}

.space-under__1 {
    margin-bottom: 1rem
}

.width_45 {
    width: 45rem;
    max-width: 100%;
}

.width_40 {
    width: 40rem;
    max-width: 100%;
}

.width_35 {
    width: 35rem;
    max-width: 100%;
}

.width_30 {
    width: 30rem;
    max-width: 100%;
}

.width_14 {
    width: 14rem;
    max-width: 100%;
}

.width_3x {
    width: calc(100% / 3);
    max-width: 100%;
}

.width_full {
    width: 100%;
}

.height_25 {
    height: 25rem;
}

.margin_1-5 {
    margin-top: 1.5rem;
}

.margin_r-4 {
    margin-right: 4rem;
}

.margin_out-1 {
    margin-right: -1rem;
    margin-left: -1rem;
}

.margin_out-l-4 {
    margin-left: -4rem;
}

.padding_out-1 {
    padding-right: -1rem;
    padding-left: -1rem;
}

/* Styles sets */
/* Panels */
.panels {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.panels li {
    flex-grow: 1;
    width: 14rem;
    max-width: 100%;
    margin: 1rem;
}

/* Input */
.input-big-form {
    position: relative;
    width: 25rem;
    max-width: 100%;
}

.input-big {
    width: 25rem;
    max-width: 100%;
    height: 3rem;
    padding: 1rem 0 1rem .5rem;
    transition: all .2s ease-in-out;
    border: 1px solid var(--gray-500_5);
    background-color: transparent;
}

.input-big:focus,
.input-big-form:hover .input-big {
    padding-left: calc(.5rem - 1px);
    border: 2px solid var(--blue-400);
    outline: none;
}

.input-submit {
    font-size: 1.3rem;
    position: absolute;
    right: 1px;
    bottom: .8rem;
    display: inline-block;
    padding-right: 1rem;
    padding-left: .5rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: none;
    background-color: var(--gray-200);
}

.input-submit:hover {
    color: var(--blue-600);
}

/* Buttons */
.btn-top {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background: linear-gradient(0deg, white 70%, transparent 100%);
}

.btn-top a {
    position: relative;
    top: 10%;
}

/* Media queries */
@media (max-width: 68rem) {
    .sideways {
        transform: none;
    }

    .panels {
        padding-top: 5rem;
    }

    .sidebar {
        position: absolute;
        top: 0;
        left: unset;
    }
}

@media (max-width: 60rem) {
    .margin_out {
        margin-left: 0;
    }
}

@media (max-width: 10.4rem) {
    .input-submit {
        padding-right: .25rem;
        padding-left: .25rem;
    }
}