* {
    font-weight: normal;
}

body {
    font-family: Moderat, Arial, Helvetica, sans-serif;
    line-height: 1.8rem;
}

/* Default text */

h1 {
    font-size: 1.8rem;
    letter-spacing: .05rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

p {
    font-size: 1rem;
    letter-spacing: .05rem;
}

/* Links */

a {
    transition: color .2s ease-in-out;
    text-decoration: none;
    color: black;
}

a:hover {
    color: #003cff;
}

a svg {
    transition: fill .2s ease-in-out;
}

a:hover svg {
    fill: #003cff;
}

.list-link li {
    overflow: hidden;
    width: 6rem;
    height: 6rem;
    margin: 2px;
    transition: border .1s ease-in-out;
    border: 0 solid #003cff;
    background-color: #003cff;
}

.list-link a:focus img,
.list-link li:hover {
    border: 2px solid #003cff;
}

.list-link img {
    overflow: hidden;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    transition: transform .3s ease-out;
}

.list-link li:hover img {
    transform: scale(1.35);
}

/* Class text styles */

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}

.text_big {
    font-size: 2rem;
    font-weight: normal;
    line-height: 2.2rem;
}

.text_big > * {
    font-size: 2rem;
    font-weight: normal;
}

.text_medium {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.8rem;
}

.text_small {
    font-weight: 300;
}

.text_tiny {
    font-size: .55rem;
    letter-spacing: .08rem;
}

.text_tiny > * {
    font-size: .55rem;
    letter-spacing: .08rem;
}

.text_bold {
    font-weight: bold;
}

.text_bold > * {
    font-weight: bold;
}

.text_section:not(:last-child) {
    display: inline-block;
    margin-bottom: 1rem;
}

.text_underline {
    line-height: 1.5rem;
    transition: all .2s ease-in-out;
    border-bottom: .12rem solid black;
}

.text_underline:hover {
    margin: 0 -.5rem -.2rem;
    padding: 0 .5rem .2rem;
    border-bottom: .13rem solid #003cff;
}

.text_underline-fix {
    display: inline-block;
}

.text_underline__hide {
    transition: all .2s ease-in-out;
    border-bottom: .12rem solid transparent;
}

.text_underline__hide:hover {
    margin: 0 -.5rem -.2rem;
    padding: 0 .5rem .2rem;
    border-bottom: .13rem solid #003cff;
}

.text_space > *:not(:last-child) {
    margin-bottom: 2rem;
}

.text_subtitle {
    padding-bottom: .5rem;
    color: #787878;
}

.text_height_2 {
    line-height: 2rem;
}
