* {
    font-weight: normal;
}

body {
    font-family: Moderat, Arial, Helvetica, sans-serif;
    /*word-break: break-word;*/
    line-height: 1.8rem;
}

h1 {
    font-size: 1.8rem;
    letter-spacing: .05rem;
}

h1 {
    font-size: 1.6rem;
}

p {
    font-size: 1rem;
    letter-spacing: .05rem;
}

a {
    transition: color .2s ease-in-out;
    text-decoration: none;
    color: black;
}

a svg {
    transition: fill .2s ease-in-out;
}

a:hover {
    color: #003cff;
}

a:hover svg {
    fill: #003cff;
}

.text_center {
    text-align: center;
}

.text_big {
    font-size: 2rem;
    font-weight: normal;
}

.text_big > * {
    font-size: 2rem;
    font-weight: normal;
}

.text_tiny {
    font-size: .55rem;
    letter-spacing: .08rem;
}

.text_tiny > * {
    font-size: .55rem;
    letter-spacing: .08rem;
}

.text_bold {
    font-weight: bold;
}

.text_bold > * {
    font-weight: bold;
}

.text_underline {
    line-height: 1.5rem;
    padding-bottom: .1rem;
    transition: all .2s ease-in-out;
    border-bottom: .12rem solid black;
}

.text_underline:hover {
    margin: 0 -.5rem -.2rem;
    padding: 0 .5rem .2rem;
    border-bottom: .13rem solid #003cff;
}

.text_underline-fix {
    display: inline-block;
    padding-bottom: 0;
}

.text_underline__hide {
    padding-bottom: .1rem;
    transition: all .2s ease-in-out;
    border-bottom: .12rem solid transparent;
}

.text_underline__hide:hover {
    margin: 0 -.5rem -.2rem;
    padding: 0 .5rem .2rem;
    border-bottom: .13rem solid #003cff;
}

.text_space > *:not(:last-child) {
    margin-bottom: 2rem;
}

.text_subtitle {
    padding-bottom: .5rem;
    color: #787878;
}

.text_height_2 {
    line-height: 2rem;
}
